*.txt
*.xls*
~$*.xls*
!gwas-association-downloaded_2026-02-13-MONDO_0005301-withChildTraits.xlsx
*.svg
*.bed
*.bb
LDexpansion/**
*.bat
snp.missing
in.snp.LD-pvalue-pruned
*.log
.Rhistory
.DS_Store
.Rproj.user
